@page
@model IndexModel
@{
    ViewData["Title"] = "CloudTalk.App";
}

<div class="text-center">
    <h1 class="display-4">CloudTalk.App</h1>
    <p>The time on the server is @DateTime.Now<br />
    Backend: @Model.BackendUrl</p>

    <hr />
    <form method="post">
        <table style="margin:0 auto">
            <tr>
                <td>Key:</td>
                <td><input type="text" name="Key" value="@Model.UserInput.Key" /></td>
            </tr>
            <tr>
                <td>Value:</td>
                <td><input  type="text" name="Value" value="@Model.UserInput.Value" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Set" asp-page-handler="Set"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Get" asp-page-handler="Get"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete" asp-page-handler="Delete"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Keys" asp-page-handler="Keys"/></td>
            </tr>
        </table>
        <hr/>

        <p class="message">
        @Html.Raw(Model.UserAction)
        </p>
    </form>
</div>
